* {
  box-sizing: border-box;
  border: 1px solid black;
}
header{
  padding: 5px;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#div1 {
  padding: 5px;
  background-color: darkslateblue;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items:center;
  flex-wrap: wrap;
  gap: 15px;
}
#div2 {
  background-color: orange;
  padding: 5px;
}
.logo, .nav, .social {
  background-color: lightcoral;
}
.logo, .social {
  flex: 1 1 auto;
}
.nav {
  flex: 3 1 auto;
}
.banner {
  background-color: gold;
}

